<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MST Exam</title>
<link rel="stylesheet" href="/static/css/mst-exam.css">
<script source="/static/js/mst-exam.js"> </script>


</head>
<body>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <h2>Menu</h2>
  <ul>
       <li><a href="student-dashboard.html">🏠 Home</a> </li>
    <li><a href="student-form.html">📘 Examination Form</a></li>
    <li><a href="student-performance.html">📊 Performance</a></li>
    <li><a href="student-exam.html">📝 Exam</a></li>
  </ul>
</div>

<div class="main">
  <div class="topbar">
    <button class="menu-toggle" id="menuToggle">☰</button>
    <h1>MST Exam</h1>
    <button class="logout-btn">Logout</button>
  </div>

  <div class="exam-container">
    <div class="timer" id="timer">Time Left: 05:00</div>
    <div class="question" id="questionText">Question will appear here</div>
    <div class="options" id="optionsContainer"></div>
    <div class="exam-btns">
      <button class="exam-btn" onclick="prevQuestion()">Previous</button>
      <button class="exam-btn" onclick="nextQuestion()">Next</button>
    </div>
  </div>
</div>

</body>
</html>