<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>quiz-exam</title>
<link rel="stylesheet" href="/static/css/quiz-exam.css">
<script source="/static/js/quiz-exam.js"> </script>

</head>
<body>

<div class="sidebar">
  <h2>Menu</h2>
  <ul>
       <li><a href="student-dashboard.html">🏠 Home</a> </li>
    <li><a href="student-form.html">📘 Examination Form</a></li>
    <li><a href="student-performance.html">📊 Performance</a></li>
    <li><a href="student-exam.html">📝 Exam</a></li>
  </ul>
</div>

<div class="main">
  <div class="topbar">
    <h1>Quick Quiz</h1>
    <button class="logout-btn">Logout</button>
  </div>

  <div class="quiz-container">
    <div class="quiz-question" id="quizQ"></div>
    <div class="quiz-options" id="quizOptions"></div>
    <div class="score" id="scoreDisplay">Score: 0</div>
  </div>
</div>


</body>
</html>