<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>quiz-exam</title>
<link rel="stylesheet" href="/static/css/quiz-exam.css">
<script source="/static/js/quiz-exam.js"> </script>

</head>
<body>

<div class="sidebar">
  <h2>Menu</h2>
  <ul>
       <li><a href="/template/mst-exam.html">Upload Exam</a> </li>  
    <li><a href="/template/quiz-exam.html">Quiz</a></li>
    <li><a href="/template/student-record.html">Student Record</a></li>
    <li><a href="/template/admin-attendace.html">Attendance</a></li>
  </ul>
</div>

<div class="main">
  <div class="topbar">
    <h1>Quick Quiz</h1>
    <button class="logout-btn">Logout</button>
  </div>

  <div class="quiz-container">
    <div class="quiz-question" id="quizQ"></div>
    <div class="quiz-options" id="quizOptions"></div>
    <div class="score" id="scoreDisplay">Score: 0</div>
  </div>
</div>
</body>
</html>